<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://gitlab.com/AndrusGerman/vgue/raw/master/assets/icon.png?inline=false" type="image/x-icon">
    <title>Google Contacts (VueGo)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/script/wasm_exec.js"></script>
</head>

<body>
    <div id="app-contacts">
        <v-app id="inspire">
            <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-list dense>
                    <template v-for="item in items">
                        <v-row v-if="item.heading" :key="item.heading" align="center">
                            <v-col cols="6">
                                <v-subheader v-if="item.heading">
                                    {{ item.heading }}
                                </v-subheader>
                            </v-col>
                            <v-col cols="6" class="text-center">
                                <a href="#!" class="body-2 black--text">EDIT</a>
                            </v-col>
                        </v-row>
                        <v-list-group v-else-if="item.children" :key="item.text" v-model="item.model"
                            :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
                            <template v-slot:activator>
                                <v-list-item>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{ item.text }}
                                        </v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                            <v-list-item v-for="(child, i) in item.children" :key="i" @click="">
                                <v-list-item-action v-if="child.icon">
                                    <v-icon>{{ child.icon }}</v-icon>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{ child.text }}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-group>
                        <v-list-item v-else :key="item.text" @click="">
                            <v-list-item-action>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
                <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                    <span class="hidden-sm-and-down">G Contacts (VueGo)</span>
                </v-toolbar-title>
                <v-text-field flat solo-inverted hide-details prepend-inner-icon="search" label="Search"
                    class="hidden-sm-and-down"></v-text-field>
                <div class="flex-grow-1"></div>
                <v-btn icon>
                    <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn icon>
                    <v-icon>mdi-bell</v-icon>
                </v-btn>
                <v-btn icon large>
                    <v-avatar title="VueGo" size="32px" item>
                        <v-img src="https://gitlab.com/AndrusGerman/vgue/raw/master/assets/icon.png?inline=false" alt="Vuetify">
                        </v-img>
                    </v-avatar>
                </v-btn>
            </v-app-bar>
            <v-content>
                <v-container class="fill-height" fluid>
                    <v-row align="center" justify="center">
                        <v-tooltip right>
                            <template v-slot:activator="{ on }">
                                <v-btn :href="source" icon large target="_blank" v-on="on">
                                    <v-icon large>mdi-code-tags</v-icon>
                                </v-btn>
                            </template>
                            <span>Vuetify + VueGo (Source)</span>
                        </v-tooltip>
                    </v-row>
                </v-container>
            </v-content>
            <v-btn bottom color="pink" dark fab fixed right @click="dialog = !dialog">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-dialog v-model="dialog" width="800px">
                <v-card>
                    <v-card-title class="grey darken-2">
                        Create contact
                    </v-card-title>
                    <v-container>
                        <v-row>
                            <v-col class="align-center justify-space-between" cols="12">
                                <v-row align="center">
                                    <v-avatar size="40px" class="mr-4">
                                        <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" alt="">
                                    </v-avatar>
                                    <v-text-field v-model="user.name" placeholder="Name"></v-text-field>
                                </v-row>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field prepend-icon="mail" placeholder="Email"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field v-model="user.number" type="tel" prepend-icon="phone" placeholder="(000) 000 - 0000">
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-card-actions>
                        <v-btn text color="primary">More</v-btn>
                        <div class="flex-grow-1"></div>
                        <v-btn text color="primary" @click="dialog = false">Cancel</v-btn>
                        <v-btn text @click="SaveUser()">Save</v-btn>

                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch('./main.wasm'), go.importObject).then(v => go.run(v.instance));
    </script>
</body>

</html>