<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Print Click</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/script/wasm_exec.js"></script>
</head>

<body>
    <div id="app">
        {{count}}
        <button @click="printclick">Print Click</button>
    </div>
    <script>
    const go = new Go();
    WebAssembly.instantiateStreaming(fetch('./main.wasm'),go.importObject).then(v =>go.run(v.instance));
    </script>
</body>

</html>